

body {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;

}

/* BEGINING OF HEADER */
.logo {
    position:relative;
    left:10px;
    flex-basis: 120px;
    height: 45px;

    padding-right:20px;
  

}

.logo:hover {
    cursor: pointer;
}

header {
    display:flex;
    flex-direction:row;
    background: white;
    padding-top:20px;
    padding-bottom:16px;
    




}
 nav {
     
     display:flex;
     justify-content: center;
 }

.textbox {
    margin-left: 10px;
}

.text {
    font-size: medium;
    border:none

}

.text:focus {
    outline: 0;
}


.searchbox {
    background:white;
    display:flex;
    padding:10px;
    border-radius: 25px;
    justify-content: flex-end;
    border: 1.5px solid rgb(220, 220, 220);
    box-shadow: 1px 2px 4px rgb(202, 200, 200);
    width:700px;




}

.searchbox {
    position:sticky;
}



.searchbox:hover {
    box-shadow: 1px 3px 6px rgb(202, 200, 200);
}



.crossed-out{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
}


.vertical-line {
    border-left: 1.5px solid rgb(220, 220, 220);

}
.mic {
    margin-right: 22px;
    margin-left: 10px;
}

.crossed-out:hover{
    cursor: pointer;
}

.mic:hover {
    cursor:pointer
}

.profile-menu{
    display:flex;
    flex-basis: 130px;
    justify-content: space-around;
    margin-right: 10px;



}
.menu-space {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;

}

.menu {
    width:40px;
    height:40px;
    


}

.menu:hover {
    background:rgb(222, 222, 222);
    border-radius:50%;
    cursor:pointer;

}

.profile:hover {
    background: rgb(222, 222, 222);
    border-radius: 50%;
    cursor: pointer;
}

.profile {
    width:46px;
    height:40px;
    padding-bottom: 3px;
    padding-top:3px;

}



.menu {
    padding-bottom:5px;
    padding-right:3px;
    padding-left:3px;
}


.menu-img {
    margin-top: 13px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.profile-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
   
}



.search-icon {
    filter: invert(0.4) sepia(1) saturate(5) hue-rotate(185deg)

}

.search-icon:hover {
    cursor: pointer;
}

/* END OF HEADER AND BEGINING OF NAVIGATION */

.results {
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
}

nav {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    justify-content: space-between;



}

.All, .News, .Videos, .maps, .shopping, .more {
    display:flex;
    flex-direction: row;
    margin-right:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    color:grey;



}

.All:hover, .News:hover, .Videos:hover, .maps:hover, .shopping:hover, .more:hover {
    cursor: pointer;
}
.All{
    color: #2B73E8;
    border-bottom: 4px #2B73E8 solid;

}


.All img, .News img, .Videos img ,.maps img, .shopping img, .more img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:17px;
    margin-right:4px;


    
}

.setting-tools {
    display:flex;
    
    margin-left:  170px;

    
    

}


.settings ,.tools {
    margin-right: 10px;
    margin-top: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    color:grey;
}

.safe-search {
    margin-right:10px;
    margin-top:17px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;

}


.nav-menu {
    margin-left: 170px;
    display:flex;

    
}

.safe-search {
    color: grey;
}

nav {
    border-bottom:1.5px solid rgb(220, 220, 220) ;

}

.settings:hover {
    cursor: pointer;
}

.tools{

    padding-right: 10px;
    padding-left: 10px;
    padding-top:2px;
    height:20px;

}

.tools:hover {
    border: 1.5px solid rgb(202, 200, 200);
    cursor: pointer;
}

/* END OF NAVIGATION AND BEGINING OF MAIN */

main {
    display:grid;

    grid-row-gap:40px;
 
    margin-left: 167px;
}


.sect1{
    font-family: Arial, Helvetica, sans-serif;
    

    width:750px
}

.sect1 .elements {

    display:flex;
    align-items: baseline;
    height:25px;

    


    

}

.sect1 img, .sect1 h4, .sect1 p {
    margin-right: 5px;
    

}

.sect1 img:hover, .sect1 h4:hover, .sect1 p:hover {
    cursor: pointer;
}

.sect1 h3 {
    color: #0000EE;
    height: 10px;
}

.sect1 h3:hover{
    
    text-decoration: underline;
    cursor: pointer;
}

.sect2 {

    width:750px;
    font-family: Arial, Helvetica, sans-serif;
}

.items {
    display:flex;
    align-items: baseline;
    height:20px;
}

.sect2 p , .sect1 p {
    color:rgb(95, 95, 95);
}

.sect2 h3 {
    color:#0000EE;
    height:10px;
}

.items img {
    margin-left: 12px;;
}

.items img:hover{
    cursor: pointer;
}

.sect2 h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.ask {
    width:750px;
}

.ask-for0 {
    display:flex;
    align-items: baseline;

}

.ask-for0 img {
    margin-left: 10px;
}

.ask-for0 img:hover {
    cursor: pointer;
}
 
.ask-for {
    display:flex;
    justify-content: space-between;
    border-top: 1.5px rgb(202, 200, 200) solid;
}
.ask-for img {
    filter: invert(42%) sepia(13%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(19%);
}

.ask-for:hover {
    cursor: pointer;
}

.last-item {
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    top:-20px;

}



.line {
    background:rgb(202, 200, 200);
    width:650px;
    height:1.5px;
}

.ask {
    font-family: Arial, Helvetica, sans-serif;
}

/* END OF MAIN BEGINING OF SECTIONS */
.section1 {

    width:750px;
    margin-left: 167px;
    font-family: Arial, Helvetica, sans-serif;

}



.related-search {

    display:flex;
    align-items: baseline;
    border-bottom: 1.5px solid rgb(220, 220, 220);

}

.related-search img {
    margin-left: 20px;
}

.site-builder {

    display:flex;
    justify-content: space-between;
}

.site-builder img {
    filter: invert(42%) sepia(13%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(19%);
}

.boxes{
    display:flex;

}

.boxes div div {
    width:120px;
    height:120px;
 
    margin:1px;
    border-radius: 8px;
}

.squarespace-img {
    background:black;
}
.godaddy-img {
    background:rgb(222, 222, 222)
}
.weebly-img {
    background:rgb(222, 222, 222)
}
.shopify-img {
    background:rgb(222, 222, 222);

}
.webnode-img {
    background:rgb(222, 222, 222);
}
.jimdo-img {
    background:rgb(222, 222, 222);
}

.godaddy-img img {
    position:relative;
    top:46px;
    left:10px;
}
.squarespace-img img {
    position: relative;
    top:30px;
    left:22px;
}

.weebly-img img {
    position: relative;
    top:38px;
    left:6px;
}

.shopify-img img {
    position: relative;
    left:16px;
    top:10px;
}

.webnode-img img {
    position:relative;
    left:2px;
    top:42px;
}

.jimdo-img img {
    position:relative;
    left:1px;
    top:30px;
}
.seemore {
    display:flex;
    justify-content: center;
    
}

.seemore-button {
    border:1.5px solid rgb(220, 220, 220);
    display:flex;
    height:40px;
    width:270px;
    border-radius: 20px;
    color:rgb(3, 3, 160);

    
}

.seemore-button p {
    position: relative;
    left:80px;
    bottom:5px;
}
.seemore-button img {
    position:relative;
    top:8px;
    left:10px;
    filter: invert(0.2) sepia(1) saturate(4) hue-rotate(190deg)
    
}

.section2 {
    width: 750px;
    margin-left: 167px;
}

.base-line {

    display:flex;
    justify-content: baseline;

}

.base-line div {
    width:680px;
    margin-top:22px;
    border-top:rgb(202, 200, 200) 1px solid;
}
.base-line p {
    margin-left:20px;
}

.row {
    display:flex;

    width:750px;
    justify-content: space-between;
}

.button {
    display: flex;
    margin-left: 5px;
    background:rgb(220, 220, 220);
    border-radius: 60px;
    width:600px;
    height:60px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.button h4  {
    position:relative;
    bottom:5px;
    margin-left: 40px;

    
}
.button img {
    position:relative;
    top:20px;
    left:20px;

}



.button img {
    filter: invert(42%) sepia(13%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(19%);
    
}

/* END OF SECTIONS BEGINING OF RESULTS */

.bottom-nav {
    display:flex;
    flex-direction: column;
    background:violet;
    width:750px;
    margin-left: 167px;

}

.google-image {
    background:red;
    display:flex;
    justify-content: center;
}

.google-navigation {
    display: flex;
    justify-content: center;
    height:50px;
}

.google-navigation li {
    list-style: none;
    display:flex;


}

.google-navigation li ul {
    background:azure;
    padding-left: 10px;
    padding-right:10px;
}